/* Specifications for the YungTreyGames logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 644px;
    height: 120px;
}

/* Specifications for a game window */
.game {
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 2px #000000, 0 0 0 3px #ffffff;
}

/* Titles for each section */
.section {
    font-family: Garamond;
    font-size: x-large;
    color: white;
}

/* Text specifications */
.description {
    font-family: Garamond;
    font-size: x-large;
    color: white;
}

/* Link to alternative pages */
.page_link {
    text-align: center;
    color: navy;
    font-family: Garamond;
    font-size: "large";
    display: block;
    margin-left: auto;
    margin-right: auto;
}   


/* Link to itch.io page */
.title_link {
    text-align: center;
    color: red;
    font-family: Garamond;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
}


