/* The Logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 80px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}


/*  -----------------------------   */

/* Formatting for each section  */
.section {
    border-left: 4px solid black;
    border-right: 4px solid black;
}

/* Intro Section */
.intro {
    border-top: 4px solid black;
    padding-top: 10px;
    background-color: #A5F3E8;
}

/* My Name */
.name {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Garamond';
    font-size: 24px;
}

/* My Bio */
.bio {
    text-align: center;
    font-family: 'Garamond';
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 4px solid black;
}


/*  -----------------------------   */

/* Social Section Name */
.socials{
padding-top: 20px;
background-color: lightblue;
font-weight: bold;
text-align: center;
font-family: 'Garamond';
font-size: 24px;
border-bottom: 4px solid black;
padding-bottom: 20px;

}


/* Social Icons */
.social_icons {
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
}

/* Images that take you to different pages */
.image_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image_link a {
margin-right: 100px; /* Adds space between the images */
}

.image_link img {
width: 120px; /* Set the desired width */
height: 120px; /* Set the desired height */
border: 2px solid #000000;
transition: border 0.2s;
}

.image_link img:hover {
    border: 2px solid transparent; /* Make the border transparent on hover */
}


/*  -----------------------------   */

/* Beat Section */
.beat_container {
    padding-top: 20px;
    background-color: #D2DEEB;
    padding-bottom: 20px;
    border-bottom: 4px solid black;
}

.beat_container_title{
    font-weight: bold;
    text-align: center;
    font-family: 'Garamond';
    font-size: 24px
}

.beat_container_description{
    text-align: center;
    font-family: 'Garamond';
    font-size: 18px;
    margin-bottom: 20px;
}

/* Reference to Alucard in beat section */
.alucard {
    font-style: italic;
    font-size: 12pt
}

.beat_title {
    text-align: center;
    display: block;
    font-size: 14pt;
    font-family: 'Times New Roman';
}

.beat_section {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18pt;
    font-family: 'Times New Roman';
    font-style: italic;

    border-top: 2px solid black;
    border-bottom: 2px solid black
}

.beat_section_desc {
    text-align: left;
    display: block;
    font-size: 12pt;
    font-family: 'Times New Roman';
    font-style: normal;
}

.beat{
    text-align: center;
    display: block;
    padding-top: 16px;
    padding-bottom: 20px

}



/* Specifications for a game section title */
.game_container {
    padding-top: 20px;
    background-color: #D2DEFF;
}

.game_container_title {
    font-weight: bold;
    text-align: center;
    font-family: 'Garamond';
    font-size: 36px
}

.game_container_title{
    font-weight: bold;
    text-align: center;
    font-family: 'Garamond';
    font-size: 24px
}

.game_container_description{
    text-align: center;
    font-family: 'Garamond';
    font-size: 18px;
    margin-bottom: 20px;
}

/* Specifications for a game window */
.game {
    margin: 4px 0 0 4px;
    box-shadow: 0 0 0 2px #000000, 0 0 0 3px #ffffff;
}